.statistics {
  width: 600px;
  margin: 0 auto;
  border: 1px solid gray;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 40px;
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  color: rgb(113, 113, 113);
  text-transform: uppercase;
}

.stat_list {
  width: 600px;
  padding: 0;
  margin: 0 auto;
  display: flex;
}

.item {
  border: 1px solid gray;
  padding: 25px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 25px;
}

.label {
  color: #f4eeee;
  margin-bottom: 5px;
}

.percentage {
  font-size: 35px;
  color: #f4eeee;
}
